PUBLIC_IP=185.174.211.45
TZ=Europe/Tirane
XMPP_DOMAIN=meet.jitsi

# Generate all passwords with: openssl rand -hex 16
JICOFO_AUTH_PASSWORD=change_me_jicofo_password
JVB_AUTH_PASSWORD=change_me_jvb_password
JIBRI_XMPP_PASSWORD=change_me_jibri_xmpp_password
JIBRI_RECORDER_PASSWORD=change_me_jibri_recorder_password
